<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.txf.myblogsprinboot.dao.CategoryMapper">
    <select id = "selectCategoryVO" resultType="org.txf.myblogsprinboot.vo.CategoryListVO">
        select id, name
        from blog_category
        where id = #{id}
    </select>
</mapper>